.env
__pycache__/
*.pyc
zzz_random_shit/
data/
scripts/scratch.py
api/batch_sample.py
frontend/.env.local
node_modules/
.ipynb_checkpoints/
database/in_progress/*.json
database/in_progress/pass2_results
database/in_progress/pass2_batches
database/in_progress/pass1_results
database/in_progress/pass1_batches
